@inherits LayoutComponentBase
@inject Rubik.Components.Data.Theme Theme

@* Required *@
<MudThemeProvider IsDarkMode="true" Theme="@Theme.CustomTheme" />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    <MudAppBar Color="Color.Primary" Fixed="true" Dense="true">
        <div Style="margin-left: auto; display: flex; align-items:center">
            <MudLink Href="profile" Style="margin-left: 25px">
                <MudIcon Icon="@Icons.Material.Filled.Person" Title="Profile" Color="Color.Default" Class="custom-link"/>
            </MudLink>
            <MudLink Href="/" Style="margin-left: 25px">
                <MudIcon Icon="@Icons.Material.Filled.Home" Title="Home" Class="custom-link"/>
            </MudLink>
        </div>
    </MudAppBar>
    <main style="padding-top: 64px;">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<style>
    .custom-link {
        transition: color 0.1s ease;
        color: #ffffff;
    }

    .custom-link:hover {
        color: #4b395e !important;
        border-radius: 5px;
    }
</style>