@inherits LayoutComponentBase
@inject Rubik.Components.Data.Theme Theme

@* Required *@
<MudThemeProvider IsDarkMode="true" Theme="@Theme.CustomTheme" />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    <MudAppBar Color="Color.Primary" Fixed="true" Dense="true" Elevation="1">
        <NavLink href="profile">
            <MudText Style="text-align: center;">Profile</MudText>
        </NavLink>
    </MudAppBar>
    <main style="padding-top: 64px;">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
